.App {
  text-align: center;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 5vh 25vh 65vh 5vh;
  grid-template-areas: "nav"
                        "header"
                        "main"
                        "footer";
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  grid-area: header;
}

main {
  grid-area: main;
  display:grid;
  grid-template-columns: 80vw 20vw;
  grid-template-rows: 25px 1fr;
  grid-template-areas: "input input"
                        "table panel";

}
.song__form {
  grid-area: input;
}

.song__panel {
  grid-area: panel;
  justify-content: left;
}

.song__table {
  margin-top: 0;
  margin-left: auto;
  max-width: 700px;
  min-width: 600px;
  grid-area: table;
}

.nav__link {
  list-style: none;
  display: inline;
}

footer {
  grid-area: footer;
}
@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px)
  }
  100% {
    transform: translateY(0px)
  }
}
